.section_block {
    background-size: cover;
    height: 657px;
    position: relative;
    background: #2B2B3F;



}

.promo {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
}


.promo_h1 {
    margin-top: 142px;
    margin-left: 83px;
    color: #FFF;
    font-family: Alfa Slab One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.promoWithMan_section_block {
    height: 657px;
}